[submodule "packages/ethereum-cryptography/secp256k1-node"]
	path = packages/ethereum-cryptography/secp256k1-node
	url = https://github.com/cryptocoinjs/secp256k1-node.git
[submodule "packages/ethereum-cryptography/scryptsy"]
	path = packages/ethereum-cryptography/scryptsy
	url = https://github.com/cryptocoinjs/scryptsy.git
[submodule "packages/ethereum-cryptography/hdkey"]
	path = packages/ethereum-cryptography/hdkey
	url = https://github.com/cryptocoinjs/hdkey.git
[submodule "packages/ethereum-cryptography/bip39"]
	path = packages/ethereum-cryptography/bip39
	url = https://github.com/bitcoinjs/bip39.git
