[submodule "packages/ethereum-cryptography/scryptsy"]
	path = packages/ethereum-cryptography/scryptsy
	url = https://github.com/cryptocoinjs/scryptsy.git
[submodule "packages/ethereum-cryptography/hdkey"]
	path = packages/ethereum-cryptography/hdkey
	url = https://github.com/cryptocoinjs/hdkey.git
[submodule "packages/ethereum-cryptography/bip39"]
	path = packages/ethereum-cryptography/bip39-lib
	url = https://github.com/bitcoinjs/bip39.git
