name: Node CI

on: [push]
env:
  FORCE_COLOR: 2
jobs:
  test:
    name: v${{ matrix.node }} @ ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 14
          - 16.0.0
          - 16
          - 18.0.0
          - 18
          - 20
          # TODO: change to `22` once they fix https://github.com/nodejs/node/issues/54573
          - 22.6
        os:
          - ubuntu-latest
          - macOS-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
      with:
        node-version: ${{ matrix.node }}
        registry-url: 'https://registry.npmjs.org'
        cache: 'npm'
    - run: npm install -g npm@9.x
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - run: npm run browser-tests
    - run: npm run lint --if-present
